header {
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center;
}

form {
  text-align: center;
}

input[type=text] {
  width: 25%;
  display: inline-block;
  padding: 10px;
  font-size: 1.1em;
}

input[type=submit] {
  padding: 10px 20px;
  background: #d24749;
  color: #fff;
  font-size: 1.1em;
  border-radius: 8px;
}

.search-results {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results__image {
  flex: 1;
  width: 175px;
}

.message {
  background: linear-gradient(#d24649, #a83b3e);
  padding: 3px 0;
  margin-top: 30px;
}

.message__has-results.ng-hide-add,
.message__has-results.ng-hide-remove {
  transition: 0s linear all;
}

.message__has-results.ng-hide-add-active,
.message__has-results.ng-hide-remove-active {
  transition: 0.5s linear all;
}

.message__has-results {
  line-height: 20px;
  opacity: 1;
  text-align: center;
  margin: 0.5em;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.message__has-results.ng-hide {
  line-height: 0;
  opacity: 0;
}

